{% extends 'base.html' %}
{% load humanize %}
{% block title %}Forum List{% endblock%}
{% block content %}
    <h2>Daftar Forum</h2>
    <ul>
        {% for forum in forums %}
            <li><a href="{% url 'forum-detail' forum.slug %}">{{ forum.title }}</a>  -
                <a href="{% url 'forum-by' forum.user %}">{{forum.user}}</a> -
                {{ forum.created_at|naturaltime }}
            </li>
        {% endfor %}
    </ul>
    <hr>

    {% if user.is_authenticated %}
        <a href="/forum/add">Tambah forum</a>
    {% endif %}

{% endblock %}

